<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Edit Show {{show_info.id}}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1 class='d-inline-block'>Edit Show {{show_info.id}}</h1>
        <a href="/shows" class='d-inline-block'>Go Back</a>
        {%if messages%}
            <ul>
            {% for message in messages %}
                <li style="color: red;">{{message}}</li>
            {%endfor%}
            </ul>
        {% endif %}
        <form action='/shows/update/{{show_info.id}}' method='post' class='col-4'>
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleFormControlInput1">Title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="title" value="{{show_info.title}}">
            </div>
            <div class="form-group d-inline-block">
                <label for="exampleFormControlInput1">Network</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="network" value="{{show_info.network}}">
            </div>
            <div class="form-group d-inline-block">
                <label for="exampleFormControlInput1">Release Date</label>
                <input type="date" class="form-control" id="exampleFormControlInput1" name="release_date" value="{{show_info.release_date|date:'Y-m-d' }}">
            </div>
            <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description">{{show_info.description}}</textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Update">
            <a href="/shows/{{show_info.id}}"
        </form>
        <a href='/shows/{{show_info.id}}'>Go to Show</a>
    </body>
</html>
